{{ $basePath:= .basePath }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>GitLab Service Inventory Catalog | </title>

  <!-- Bootstrap -->
  <link href="{{ $basePath }}/assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="{{ $basePath }}/assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- NProgress -->
  <link href="{{ $basePath }}/assets/vendors/nprogress/nprogress.css" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="{{ $basePath }}/assets/build/css/custom.min.css" rel="stylesheet">

  <link href="{{ $basePath }}/assets/vendors/nprogress/nprogress.css" rel="stylesheet">

  <link href="{{ $basePath }}/assets/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

  <link href="{{ $basePath }}/assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="{{ $basePath }}/assets/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
  <link href="{{ $basePath }}/assets/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
  <link href="{{ $basePath }}/assets/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
  <link href="{{ $basePath }}/assets/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
          <div class="navbar nav_title" style="border: 0;">
            <a href="{{ $basePath }}/" class="site_title"><span>Service Catalog</span></a>
          </div>

          <div class="clearfix"></div>
          <br />

          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
              <h3>General</h3>
              <ul class="nav side-menu">
                <li><a href="{{ $basePath }}/"><i class="fa fa-home"></i> Home <span class="fa"></span></a>
                </li>
                <li><a href="{{ $basePath }}/services"><i class="fa fa-cog"></i> Services <span class="fa"></span></a>
                </li>
                <li><a href="{{ $basePath }}/teams"><i class="fa fa-users"></i> Teams <span class="fa"></span></a>
                </li>
              </ul>
            </div>

          </div>
          <!-- /sidebar menu -->
        </div>
      </div>

      <!-- top navigation -->
      <div class="top_nav">
        <div class="nav_menu">
          <nav>
            <div class="nav toggle">
              <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
          </nav>
        </div>
      </div>
      <!-- /top navigation -->
      <!-- page content -->
      <div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{{ $basePath }}/services">Services</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{ .service.Name }}</li>
                </ol>
              </nav>
            </div> 
          </div>
          <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
              <h3>{{ .service.Name }}</h3>
              <br/>
              <ul class="list-unstyled user_data">
                <li><i class="fa fa-cube user-profile-icon"></i> {{ .service.Tier.Name }}
                </li>
                <li>
                  <i class="fa fa-tag user-profile-icon"></i> {{ .service.Label }}
                </li>
              </ul>
              <br/>
              <h4>Teams</h4>
              <ul class="list-unstyled user_data">
                {{ range .service.Teams }}
                  <li>
                    <p>{{ .Name }}</p>
                    <div class="progress progress_sm">
                      <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="100"></div>
                    </div>
                  </li>
                {{ end }}
              </ul>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#service_business_info" role="tab" id="profile-tab" data-toggle="tab"
                      aria-expanded="true">Business</a>
                  </li>
                  <li role="presentation" class=""><a href="#service_technical_info" role="tab" id="profile-tab2" data-toggle="tab"
                      aria-expanded="false">Technical</a>
                  </li>
                  <li role="presentation" class=""><a href="#service_infrastructure_info" role="tab" id="profile-tab3" data-toggle="tab"
                    aria-expanded="false">Infrastructure</a>
                  </li>
                  <li role="presentation" class=""><a href="#service_operations_info" role="tab" id="profile-tab4" data-toggle="tab"
                    aria-expanded="false">Operations</a>
                  </li>
                  <li role="presentation" class=""><a href="#service_observability_info" role="tab" id="profile-tab5" data-toggle="tab"
                    aria-expanded="false">Observability</a>
                  </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                  <div role="tabpanel" class="tab-pane fade active in" id="service_business_info" aria-labelledby="profile-tab">
                    {{ if .service.Business.Requirement }}
                      <h3>Requirement</h3>
                        <p>{{ .service.Business.Requirement }}</p>
                      <div class="clearfix"></div>
                    {{ end }}

                    {{ if .service.Business.BusinessValue }}
                      <h3>Business Value</h3>
                      <p>{{ .service.Business.BusinessValue }}</p>
                      <div class="clearfix"></div>
                    {{ end }}

                    {{ if .service.Business.Customers }}
                      <h3>Customers</h3>
                      <ul>
                        {{ range .service.Business.Customers }}
                          <li>{{ . }}</li>
                        {{ end }}
                      </ul>
                      <div class="clearfix"></div>
                    {{ end }}

                    {{ if .service.Business.SLA.Availability }}
                      <h3>SLA</h3>
                      <div class="clearfix"></div>
                      <div class="x_content">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Availability</th>
                              <th>Response Time</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>{{ .service.Business.SLA.Availability }}</td>
                              <td>{{ .service.Business.SLA.ResponseTime }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    {{ end }}
                  </div>

                  <div role="tabpanel" class="tab-pane fade" id="service_technical_info" aria-labelledby="profile-tab">

                    {{ if .service.Technical.ProjectURL }}
                      <!-- Project -->
                      <h3>Project</h3>
                      <p>
                      {{ range .service.Technical.ProjectURL }}
                        <a href="{{.}}">{{.}}</a><br/>
                      {{ end }}
                      </ul>
                      </p>
                      <div class="clearfix"></div>
                    {{ end }}

                    {{ if .service.Technical.Criticality }}
                      <!-- Criticality -->
                      <h3>Criticality</h3>
                      <p>
                      {{ if eq .service.Technical.Criticality 1 }}
                        <span class="label label-danger">{{ .service.Technical.Criticality}}</span>
                      {{end}}
                      {{ if eq .service.Technical.Criticality 2 }}
                        <span class="label label-warning">{{ .service.Technical.Criticality}}</span>
                      {{ end }}
                      {{ if eq .service.Technical.Criticality 3 }}
                        <span class="label label-success">{{ .service.Technical.Criticality}}</span>
                      {{ end }}
                      {{ if eq .service.Technical.Criticality 4 }}
                        <span class="label label-success">{{ .service.Technical.Criticality}}</span>
                      {{ end }}
                      </p>
                      <div class="clearfix"></div>
                    {{ end }}

                    {{ if .service.Technical.SLX }}
                      <!-- SLX -->
                      <h3>SLX</h3>
                      <p>{{ .service.Technical.SLX }}</p>
                      <div class="clearfix"></div>
                    {{ end }}

                    <!-- Documents -->
                    <h3>Documents</h3>
                    
                    {{ if .service.Technical.Documents.Design }}
                      <h4>Design</h4>
                      <p><a href="{{ .service.Technical.Documents.Design }}">{{ .service.Technical.Documents.Design }}</a></p>
                      <div class="clearfix"></div>
                    {{ end }}

                    {{ if .service.Technical.Documents.Architecture }}
                      <h4>Architecture</h4>
                      <p><a href="{{ .service.Technical.Documents.Architecture }}">{{ .service.Technical.Documents.Architecture }}</a></p>
                      <div class="clearfix"></div>
                    {{ end }}

                    {{ if .service.Technical.Documents.Service }}
                      <h4>Service</h4>
                      <p>
                      {{ range .service.Technical.Documents.Service}}
                      <a href="{{.}}">{{.}}</a><br/>
                      {{ end }}
                      </p>
                      <div class="clearfix"></div>
                    {{ end }}

                    {{ if .service.Technical.Documents.Security }}
                      <h4>Security</h4>
                      <p><a href="{{ .service.Technical.Documents.Security}}">{{ .service.Technical.Documents.Security}}</a></p>
                    {{ end }}
                  
                    <!-- Logging -->
                    {{ if .service.Technical.Logging }}
                      <h3>Logging</h3>                    
                      <div class="clearfix"></div>
                      <div class="x_content">
                        <table class="table">
                          <thead>
                            <tr>
                              <th></th>
                              <th>Log</th>
                            </tr>
                          </thead>
                          <tbody>
                            {{ range .service.Technical.Logging }}
                            <tr>
                              <td>
                                <svg role="img" viewBox="0 0 24 24" width="20" height="20" xmlns="http://www.w3.org/2000/svg"><title>Kibana icon</title><path d="M21.04 23.99H4.18l9.88-11.86c4.23 2.76 6.98 7.04 6.98 11.86zm0-23.95H3.08v21.55z"/></svg>
                              </td>
                              <td> 
                                <a href="{{ .Permalink }}">{{ .Name }}</a>
                              </td>
                            </tr>
                            {{ end }}
                          </tbody>
                        </table>
                      </div>
                    {{ end }}
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="service_infrastructure_info" aria-labelledby="profile-tab">
                    {{ if .service.Infrastructure.Provider}}
                      <!--Provider-->
                      <h3>Provider</h3>
                      {{ .service.Infrastructure.Provider}} <br/>
                    {{ end }}

                    {{ if .service.Infrastructure.Architecture}}
                      <!--Architecture-->
                      <h3>Architecture</h3>
                      <a href="{{ .service.Infrastructure.Architecture}}">{{ .service.Infrastructure.Architecture}}</a> <br/>
                    {{ end }}

                    {{ if .service.Infrastructure.Provisioning}}
                      <!--Provisioning-->
                      <h3>Provisioning</h3>
                      {{ .service.Infrastructure.Provisioning}} <br/>
                    {{ end }}

                    {{ if .service.Infrastructure.Accesses }}
                      <!--Accesses-->
                      <h3>Accesses</h3>
                      <div class="clearfix"></div>
                      <div class="x_content">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Account Name</th>
                              <th>Access Type</th>
                              <th>Reviewed</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              {{ range .service.Infrastructure.Accesses }}
                                <td> {{ .AccountName }}</td>
                                <td> {{ .AccessType }}</td>
                                <td> {{ .Reviewed }}</td>
                              {{ end }}
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    {{ end }}

                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="service_operations_info" aria-labelledby="profile-tab">
                    {{ if .service.Operations.Maintenance }}
                      <!--Maintenance-->
                      <h3>Maintenance</h3>
                      <a href="{{ .service.Operations.Maintenance }}">{{ .service.Operations.Maintenance }}</a><br/>
                    {{ end }}

                    {{ if .service.Operations.Runbooks}}
                      <!--Runbooks-->
                      <h3>Runbooks</h3>
                      <ul>
                        {{ range .service.Operations.Runbooks }}
                          <li><a href="{{.}}">{{.}}</a></li>
                        {{ end }}
                      </ul>
                    {{ end }}

                    {{ if .service.Operations.Playbooks }}
                      <!--Playbooks-->
                      <h3>Playbooks</h3>
                      <ul>
                        {{ range .service.Operations.Playbooks }}
                          <li><a href="{{.}}">{{.}}</a></li>
                        {{ end }}
                      </ul>
                    {{ end }}

                    {{ if .service.Operations.ErrorBudget}}
                      <!--Error Budget-->
                      <h3>Error Budget</h3>
                      <a href="{{ .service.Operations.ErrorBudget }}">{{ .service.Operations.ErrorBudget }}</a><br/>
                    {{ end }}
                  </div>

                  <div role="tabpanel" class="tab-pane fade" id="service_observability_info" aria-labelledby="profile-tab">
                    <!--Monitors-->
                    <h3>Monitors</h3>

                    {{ if .service.Observability.Monitors.SentrySlug }}
                      <!--Sentry Slug-->
                      <svg role="img" viewBox="0 0 24 24" width="20" height="20" xmlns="http://www.w3.org/2000/svg"><title>Sentry icon</title><path d="M23.663 21.572c.449-.748.449-1.496 0-2.244l-9.72-16.897c-.447-.747-1.195-1.048-1.943-1.048s-1.495.449-1.943 1.048L6.916 7.963l.748.449c2.393 1.346 4.336 3.289 5.682 5.682 1.197 2.094 1.944 4.336 2.094 6.73h-2.243c-.149-1.945-.748-3.889-1.794-5.684-1.047-2.093-2.692-3.738-4.785-4.935l-.749-.447-2.99 5.084.747.449c1.944 1.195 3.29 3.139 3.589 5.383H2.28c-.149 0-.3-.15-.3-.15s-.148-.15 0-.299l1.348-2.393c-.449-.447-1.048-.748-1.646-.896L.336 19.329c-.449.748-.449 1.496 0 2.244.448.746 1.046 1.045 1.943 1.045h6.879v-.896c0-1.645-.449-3.141-1.196-4.637-.599-1.195-1.496-2.093-2.542-2.84L6.467 12.3c1.347 1.046 2.543 2.243 3.439 3.739 1.047 1.793 1.496 3.738 1.496 5.682v.896h5.831v-.896c0-2.99-.747-5.982-2.392-8.673-1.197-2.394-3.141-4.337-5.385-5.833L11.7 3.328c.151-.15.3-.15.3-.15.15 0 .15 0 .299.15l9.721 16.896c.148.148 0 .299 0 .299s-.15.15-.3.15h-2.243v1.795h2.243c.896.149 1.495-.15 1.943-.896z"/></svg>
                      <a href="https://sentry.gitlab.net/{{ .service.Observability.Monitors.SentrySlug }}">Sentry Slug</a><br/><br/>
                    {{ end }}

                    {{ if .service.Observability.Monitors.GrafanaFolder }}
                      <!--Grafana Folder-->
                      <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20"><title>Grafana icon</title><path d="M22.999 10.626c-.043-.405-.106-.873-.234-1.384s-.341-1.065-.618-1.661c-.298-.575-.66-1.193-1.15-1.768-.192-.234-.405-.447-.618-.681.341-1.342-.405-2.513-.405-2.513-1.299-.085-2.108.405-2.406.618-.043-.021-.106-.043-.149-.064-.213-.085-.447-.17-.681-.256-.234-.064-.469-.149-.703-.192-.234-.064-.49-.106-.745-.149-.043 0-.085-.021-.128-.021C14.608.766 12.99 0 12.99 0c-1.853 1.193-2.215 2.79-2.215 2.79s0 .043-.021.085c-.106.021-.192.064-.298.085-.128.043-.277.085-.405.149s-.277.106-.405.17c-.277.128-.532.256-.809.405a8.52 8.52 0 0 0-.745.469c-.043-.021-.064-.043-.064-.043-2.492-.958-4.706.192-4.706.192-.192 2.662 1.001 4.323 1.235 4.621-.064.17-.106.319-.17.49a10.658 10.658 0 0 0-.405 1.853c-.021.085-.021.192-.043.277-2.3 1.129-2.981 3.471-2.981 3.471 1.917 2.215 4.174 2.343 4.174 2.343a9.61 9.61 0 0 0 .98 1.448c.149.192.319.362.49.554-.703 2.002.106 3.684.106 3.684 2.151.085 3.556-.937 3.854-1.171l.639.192c.66.17 1.342.277 2.002.298h.873c1.001 1.448 2.79 1.64 2.79 1.64 1.256-1.342 1.342-2.641 1.342-2.939v-.021-.043-.064c.256-.192.511-.383.767-.596.511-.447.937-.98 1.32-1.533.043-.043.064-.106.106-.149 1.427.085 2.428-.894 2.428-.894-.234-1.491-1.086-2.215-1.256-2.343l-.021-.021-.021-.021-.021-.021c0-.085.021-.17.021-.277.021-.17.021-.319.021-.49v-.213-.277-.128c0-.043 0-.085-.021-.128l-.043-.256c-.021-.17-.064-.319-.085-.49a6.327 6.327 0 0 0-.724-1.789 6.634 6.634 0 0 0-1.214-1.448 5.89 5.89 0 0 0-1.533-.98 5.368 5.368 0 0 0-1.682-.469c-.277-.043-.575-.043-.852-.043h-.128-.298c-.149.021-.298.043-.426.064-.575.106-1.107.319-1.576.596s-.873.639-1.214 1.043a4.284 4.284 0 0 0-.767 1.299c-.17.447-.277.937-.298 1.384v.511c0 .064 0 .106.021.17a3.642 3.642 0 0 0 .703 1.81c.256.341.532.596.852.809.319.213.639.362.98.469s.66.149.958.128h.446c.043 0 .085-.021.106-.021.043 0 .064-.021.106-.021.064-.021.149-.043.213-.064.128-.043.256-.106.383-.149.128-.064.234-.128.319-.192.021-.021.064-.043.085-.064a.24.24 0 0 0 .043-.341.298.298 0 0 0-.319-.064c-.021.021-.043.021-.085.043a1.43 1.43 0 0 1-.277.106c-.106.021-.213.064-.319.085-.064 0-.106.021-.17.021h-.361s-.021 0 0 0h-.086c-.022 0-.064 0-.085-.021-.234-.043-.49-.106-.724-.213s-.469-.256-.66-.447c-.213-.192-.383-.405-.532-.66s-.234-.532-.277-.809c-.021-.149-.043-.298-.021-.447v-.128c0 .021 0 0 0 0v-.043-.064c0-.085.021-.149.043-.234a3.114 3.114 0 0 1 .916-1.725c.128-.128.256-.234.405-.319.149-.106.298-.192.447-.256s.319-.128.49-.17c.17-.043.341-.085.511-.085.085 0 .17-.021.256-.021H15.228c.021 0 0 0 0 0h.085a4.046 4.046 0 0 1 1.619.49c.681.383 1.256.958 1.597 1.661.17.341.298.724.362 1.129.021.106.021.192.043.298v.554c0 .106-.021.213-.021.319-.021.106-.021.213-.043.319l-.064.319c-.021.106-.128.405-.192.618s-.362.788-.618 1.129a5.164 5.164 0 0 1-2.002 1.64c-.405.17-.809.319-1.235.383a3.221 3.221 0 0 1-.639.064h-.319c.021 0 0 0 0 0h-.021c-.106 0-.234 0-.341-.021-.469-.043-.916-.128-1.363-.256s-.873-.298-1.278-.511a6.956 6.956 0 0 1-2.108-1.746c-.277-.362-.532-.745-.745-1.15s-.362-.831-.49-1.256a5.489 5.489 0 0 1-.213-1.32v-.49-.17c0-.213.021-.447.064-.681.021-.234.064-.447.106-.681s.106-.447.17-.681.277-.873.469-1.278c.383-.809.873-1.533 1.448-2.108.149-.149.298-.277.469-.405.064-.064.213-.192.383-.298s.341-.213.532-.298c.085-.043.17-.085.277-.128.043-.021.085-.043.149-.064.043-.021.085-.043.149-.064.192-.085.383-.149.575-.213.043-.021.106-.021.149-.043s.106-.021.149-.043.192-.043.298-.085c.043-.021.106-.021.149-.043.043 0 .106-.021.149-.021s.106-.021.149-.021l.17-.043c.043 0 .106-.021.149-.021.064 0 .106-.021.17-.021.043 0 .128-.021.17-.021s.064 0 .106-.021h.149c.064 0 .106 0 .17-.021h.085s.021 0 0 0H15.033c.383.021.767.064 1.129.128a7.234 7.234 0 0 1 2.044.681 7.676 7.676 0 0 1 1.661 1.086c.021.021.064.043.085.085.021.021.064.043.085.085.064.043.106.106.17.149s.106.106.17.149c.043.064.106.106.149.17a7.88 7.88 0 0 1 1.406 1.98c.021.021.021.043.043.085.021.021.021.043.043.085s.043.106.085.149c.021.043.043.106.064.149s.043.106.064.149c.085.192.149.383.213.575.106.298.17.554.234.767a.204.204 0 0 0 .192.149c.106 0 .17-.085.17-.192-.021-.256-.021-.532-.043-.852z"/></svg>
                      <a href="https://dashboards.gitlab.net/dashboards/f/{{ .service.Observability.Monitors.GrafanaFolder }}">Grafana Folder</a><br/><br/>
                    {{ end }}

                    {{ if .service.Observability.Monitors.PrimaryGrafanaDashboard}}
                      <!--Grafana Dashboard-->
                      <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20"><title>Grafana icon</title><path d="M22.999 10.626c-.043-.405-.106-.873-.234-1.384s-.341-1.065-.618-1.661c-.298-.575-.66-1.193-1.15-1.768-.192-.234-.405-.447-.618-.681.341-1.342-.405-2.513-.405-2.513-1.299-.085-2.108.405-2.406.618-.043-.021-.106-.043-.149-.064-.213-.085-.447-.17-.681-.256-.234-.064-.469-.149-.703-.192-.234-.064-.49-.106-.745-.149-.043 0-.085-.021-.128-.021C14.608.766 12.99 0 12.99 0c-1.853 1.193-2.215 2.79-2.215 2.79s0 .043-.021.085c-.106.021-.192.064-.298.085-.128.043-.277.085-.405.149s-.277.106-.405.17c-.277.128-.532.256-.809.405a8.52 8.52 0 0 0-.745.469c-.043-.021-.064-.043-.064-.043-2.492-.958-4.706.192-4.706.192-.192 2.662 1.001 4.323 1.235 4.621-.064.17-.106.319-.17.49a10.658 10.658 0 0 0-.405 1.853c-.021.085-.021.192-.043.277-2.3 1.129-2.981 3.471-2.981 3.471 1.917 2.215 4.174 2.343 4.174 2.343a9.61 9.61 0 0 0 .98 1.448c.149.192.319.362.49.554-.703 2.002.106 3.684.106 3.684 2.151.085 3.556-.937 3.854-1.171l.639.192c.66.17 1.342.277 2.002.298h.873c1.001 1.448 2.79 1.64 2.79 1.64 1.256-1.342 1.342-2.641 1.342-2.939v-.021-.043-.064c.256-.192.511-.383.767-.596.511-.447.937-.98 1.32-1.533.043-.043.064-.106.106-.149 1.427.085 2.428-.894 2.428-.894-.234-1.491-1.086-2.215-1.256-2.343l-.021-.021-.021-.021-.021-.021c0-.085.021-.17.021-.277.021-.17.021-.319.021-.49v-.213-.277-.128c0-.043 0-.085-.021-.128l-.043-.256c-.021-.17-.064-.319-.085-.49a6.327 6.327 0 0 0-.724-1.789 6.634 6.634 0 0 0-1.214-1.448 5.89 5.89 0 0 0-1.533-.98 5.368 5.368 0 0 0-1.682-.469c-.277-.043-.575-.043-.852-.043h-.128-.298c-.149.021-.298.043-.426.064-.575.106-1.107.319-1.576.596s-.873.639-1.214 1.043a4.284 4.284 0 0 0-.767 1.299c-.17.447-.277.937-.298 1.384v.511c0 .064 0 .106.021.17a3.642 3.642 0 0 0 .703 1.81c.256.341.532.596.852.809.319.213.639.362.98.469s.66.149.958.128h.446c.043 0 .085-.021.106-.021.043 0 .064-.021.106-.021.064-.021.149-.043.213-.064.128-.043.256-.106.383-.149.128-.064.234-.128.319-.192.021-.021.064-.043.085-.064a.24.24 0 0 0 .043-.341.298.298 0 0 0-.319-.064c-.021.021-.043.021-.085.043a1.43 1.43 0 0 1-.277.106c-.106.021-.213.064-.319.085-.064 0-.106.021-.17.021h-.361s-.021 0 0 0h-.086c-.022 0-.064 0-.085-.021-.234-.043-.49-.106-.724-.213s-.469-.256-.66-.447c-.213-.192-.383-.405-.532-.66s-.234-.532-.277-.809c-.021-.149-.043-.298-.021-.447v-.128c0 .021 0 0 0 0v-.043-.064c0-.085.021-.149.043-.234a3.114 3.114 0 0 1 .916-1.725c.128-.128.256-.234.405-.319.149-.106.298-.192.447-.256s.319-.128.49-.17c.17-.043.341-.085.511-.085.085 0 .17-.021.256-.021H15.228c.021 0 0 0 0 0h.085a4.046 4.046 0 0 1 1.619.49c.681.383 1.256.958 1.597 1.661.17.341.298.724.362 1.129.021.106.021.192.043.298v.554c0 .106-.021.213-.021.319-.021.106-.021.213-.043.319l-.064.319c-.021.106-.128.405-.192.618s-.362.788-.618 1.129a5.164 5.164 0 0 1-2.002 1.64c-.405.17-.809.319-1.235.383a3.221 3.221 0 0 1-.639.064h-.319c.021 0 0 0 0 0h-.021c-.106 0-.234 0-.341-.021-.469-.043-.916-.128-1.363-.256s-.873-.298-1.278-.511a6.956 6.956 0 0 1-2.108-1.746c-.277-.362-.532-.745-.745-1.15s-.362-.831-.49-1.256a5.489 5.489 0 0 1-.213-1.32v-.49-.17c0-.213.021-.447.064-.681.021-.234.064-.447.106-.681s.106-.447.17-.681.277-.873.469-1.278c.383-.809.873-1.533 1.448-2.108.149-.149.298-.277.469-.405.064-.064.213-.192.383-.298s.341-.213.532-.298c.085-.043.17-.085.277-.128.043-.021.085-.043.149-.064.043-.021.085-.043.149-.064.192-.085.383-.149.575-.213.043-.021.106-.021.149-.043s.106-.021.149-.043.192-.043.298-.085c.043-.021.106-.021.149-.043.043 0 .106-.021.149-.021s.106-.021.149-.021l.17-.043c.043 0 .106-.021.149-.021.064 0 .106-.021.17-.021.043 0 .128-.021.17-.021s.064 0 .106-.021h.149c.064 0 .106 0 .17-.021h.085s.021 0 0 0H15.033c.383.021.767.064 1.129.128a7.234 7.234 0 0 1 2.044.681 7.676 7.676 0 0 1 1.661 1.086c.021.021.064.043.085.085.021.021.064.043.085.085.064.043.106.106.17.149s.106.106.17.149c.043.064.106.106.149.17a7.88 7.88 0 0 1 1.406 1.98c.021.021.021.043.043.085.021.021.021.043.043.085s.043.106.085.149c.021.043.043.106.064.149s.043.106.064.149c.085.192.149.383.213.575.106.298.17.554.234.767a.204.204 0 0 0 .192.149c.106 0 .17-.085.17-.192-.021-.256-.021-.532-.043-.852z"/></svg>
                      <a href="https://dashboards.gitlab.net/d/{{ .service.Observability.Monitors.PrimaryGrafanaDashboard }}">Grafana Dashboard</a><br/><br/>
                    {{ end }}

                    <!--Alerts-->
                    <svg role="img" viewBox="0 0 115.333 114" height="20" width="20" xmlns="http://www.w3.org/2000/svg"><path
                      style="fill:#e6522c;fill-opacity:1"
                      d="M 56.667,0.667 C 25.372,0.667 0,26.036 0,57.332 c 0,31.295 25.372,56.666 56.667,56.666 31.295,0 56.666,-25.371 56.666,-56.666 0,-31.296 -25.372,-56.665 -56.666,-56.665 z m 0,106.055 c -8.904,0 -16.123,-5.948 -16.123,-13.283 H 72.79 c 0,7.334 -7.219,13.283 -16.123,13.283 z M 83.297,89.04 H 30.034 V 79.382 H 83.298 V 89.04 Z M 83.106,74.411 H 30.186 C 30.01,74.208 29.83,74.008 29.66,73.802 24.208,67.182 22.924,63.726 21.677,60.204 c -0.021,-0.116 6.611,1.355 11.314,2.413 0,0 2.42,0.56 5.958,1.205 -3.397,-3.982 -5.414,-9.044 -5.414,-14.218 0,-11.359 8.712,-21.285 5.569,-29.308 3.059,0.249 6.331,6.456 6.552,16.161 3.252,-4.494 4.613,-12.701 4.613,-17.733 0,-5.21 3.433,-11.262 6.867,-11.469 -3.061,5.045 0.793,9.37 4.219,20.099 1.285,4.03 1.121,10.812 2.113,15.113 C 63.797,33.534 65.333,20.5 71,16 c -2.5,5.667 0.37,12.758 2.333,16.167 3.167,5.5 5.087,9.667 5.087,17.548 0,5.284 -1.951,10.259 -5.242,14.148 3.742,-0.702 6.326,-1.335 6.326,-1.335 l 12.152,-2.371 c 10e-4,-10e-4 -1.765,7.261 -8.55,14.254 z" /></svg>                 
                    <a href="https://alerts.gprd.gitlab.net/#/alerts?silenced=false&inhibited=false&filter=%7Btype%3D%22{{ .service.Name }}%22%7D">Alerts</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /page content -->

      <!-- footer content -->
      <footer>
        <div class="pull-right">
          GitLab Service Inventory Catalog
        </div>
        <div class="clearfix"></div>
      </footer>
      <!-- /footer content -->
    </div>
  </div>

  <!-- jQuery -->
  <script src="{{ $basePath }}/assets/vendors/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="{{ $basePath }}/assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- FastClick -->
  <script src="{{ $basePath }}/assets/vendors/fastclick/lib/fastclick.js"></script>
  <!-- NProgress -->
  <script src="{{ $basePath }}/assets/vendors/nprogress/nprogress.js"></script>

  <!-- Custom Theme Scripts -->
  <script src="{{ $basePath }}/assets/build/js/custom.min.js"></script>
  <script src="{{ $basePath }}/assets/vendors/iCheck/icheck.min.js"></script>
  <script src="{{ $basePath }}/assets/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="{{ $basePath }}/assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="{{ $basePath }}/assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="{{ $basePath }}/assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
  <script src="{{ $basePath }}/assets/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
  <script src="{{ $basePath }}/assets/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
  <script src="{{ $basePath }}/assets/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script src="{{ $basePath }}/assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
  <script src="{{ $basePath }}/assets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
  <script src="{{ $basePath }}/assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="{{ $basePath }}/assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
  <script src="{{ $basePath }}/assets/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
  <script src="{{ $basePath }}/assets/vendors/jszip/dist/jszip.min.js"></script>
  <script src="{{ $basePath }}/assets/vendors/pdfmake/build/pdfmake.min.js"></script>
  <script src="{{ $basePath }}/assets/vendors/pdfmake/build/vfs_fonts.js"></script>
  <script src="{{ $basePath }}/assets/build/js/custom.min.js"></script>
  <script src="{{ $basePath }}/assets/vendors/raphael/raphael.min.js"></script>
  <script src="{{ $basePath }}/assets/vendors/morris.js/morris.min.js"></script>
  <script src="{{ $basePath }}/assets/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
  <script src="{{ $basePath }}/assets/vendors/moment/min/moment.min.js"></script>
  <script src="{{ $basePath }}/assets/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
  <script src="{{ $basePath }}/assets/build/js/custom.min.js"></script>
</body>

</html>